{% extends 'Blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About page</h3>
</div>
<p>Lorem, ipsum dolor sit amet
     consectetur adipisicing elit. Placeat saepe consectetur debitis eligendi modi, 
     laborum inventore magnam animi, temporibus, recusandae nostrum neque commodi
      odit cum? Deserunt consequuntur perferendis atque minus?
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit magni nulla
     quasi enim ducimus saepe illo ratione impedit nemo delectus maiores, doloribus ex labore reprehenderit
     , quibusdam tenetur molestias eaque vel.
</p>
{% endblock content %}