{% extends 'Blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">Thank you for intrest....!!!</h3>
<div>
    <div class="jumbotron jumbotron-fluid jumbo-color">
        <div class="container offset-2 offset-4">
          <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
          <a href="{% url 'Signup' %}" class="btn btn-warning">Signup</a>
          <a href="{% url 'Login' %}" class="btn btn-warning">Login</a>
        </div>
    </div>

</div>
</div>

{% endblock content %}